@import "../MainVariables.scss";

.contact-form-selects {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contact-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .contact-form-selects {
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 80px;
  }
}
