.contacts-book{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        margin-top: 50px;
        color: white;
    }
}