@import "../MainVariables.scss";

.register {
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    padding: 40px;
    border-radius: $radius;
    background-color: white;
    display: flex;
    flex-direction: column;

    .upload-img {
      color: black;
      padding-block: 8px;
      background-color: $color;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px dotted gray;
      cursor: pointer;
    }

    &-img {
      padding-block: 8px;

      .img--300 {
        max-width: 300px;
      }
    }

    &-buttons {
      display: flex;
      gap: 10px;
      margin-top: 100px;
    }

    .form-link--margin {
      margin-top: 4px;
    }
  }
}
