@import "../../../assets/styles/MainVariables.scss";

.modal-confirm {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &__content {
    padding: 25px;
    min-width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: $radius;
    transform: scale(0.5);
    transition: 0.4s all;
  }

  &--active {
    pointer-events: all;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }

  &__content &--active {
    transform: scale(1.1);
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    .btn--red {
      @include btn;
      background-color: red;
    }

    .btn--green {
      @include btn;
      background-color: green;
    }
  }
}
